<% title @notice.display_title %>
<div class="notice_item">

	<%= render 'shared/notices/notice_description', 
			:notice_item => @notice %>	

	<div class="notice_comments">
		<%= render 'shared/comments/comment_feed', :notice_item => @notice, :limit => nil %>
		<%= render 'shared/comments/new_comment_form', :notice_item => @notice  %>
	</div>

</div>