.container {
	width: 710px;
	margin-left:auto;
	margin-right:auto;
	background-color: #f3f3f3;
	padding: 6px;
}

.title {
	display:inline;
	
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

/*  Error messages */

.field_with_errors {
  display: inline;
}

.field_with_errors label {
  color: red;
  font-weight: bold;
}

#error_explanation {
  width: 340px;
  border: 2px solid red;
  padding: 7px;
/*  padding-bottom: 12px; */ 
  margin-bottom: 20px;
 /* background-color: #f0f0f0; */
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px; 
  font-size: 14px;
  margin: -7px;
  background-color: #e00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 14px;
}

/* Flash messages */

.error, .alert, .notice, .success, .info {width:170px;padding:0.8em;margin-bottom:1em;text-align:center}
.error, .alert {background:#fbe3e4;color:#8a1f11;}
.notice {background:#fff6bf;color:#514721;}
.success {background:#7ada1d;color:#000;}
.info {background:#d5edf8;color:#205791;}