.container {
	width: 948px;
	margin-left:auto;
	margin-right:auto;
	background-color: #f3f3f3; 
/*	background-color: #f2f3e5; */
	padding: 6px;
}


/* Main style definitions */

a {
	text-decoration: none;
}

header {
	margin-bottom: 24px;
}

 section.main {
	float: left;
	width: 604px;
	margin-left: 4px;
	margin-right: 4px;
	padding: 6px;

}

section.sidebar {
	float: left;
	width: 304px;
	background-color: #cfdcdb;
	margin-right: 4px;
	margin-left: 4px;
	padding: 6px;
}
footer {
	margin-top: 24px;
	text-align:center;
}



/* Header */

.header_logo {
	float:left;
}

.header_navbar {
	float:right;
	vertical-align:middle;
	margin-right:36px;
	margin-top: 22px;
}

h1.logo {
	display:inline;
}

a.logo {
  color: #000;
  text-decoration: none;
}

a.logo:hover {
  color: #000;
  text-decoration: none;
}

a.logo:visited {
  color: #000;
  text-decoration: none;
}

td.nav {
  vertical-align:middle;
  white-space: nowrap;
  text-align:right;
}

/* Navigation Bar */

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
  font-size: 18px;
}

nav ul li a {
  color: #0043AD;
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {

}

nav ul li a:hover {
  text-decoration: underline;
}

/* pagination links */


.pagination {
  font-size:10pt;
  cursor: default;
 }

.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px; }

.pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd; }

.pagination .current {
height:16px;
  font-style: normal;
  font-weight: bold;
  background: #333;
  color: white;
  border: 1px solid #333; }

.pagination a {
height:16px;
  text-decoration: none;
  color: #333;
  border: 1px solid #333; }

 .pagination a:hover, .pagination a:focus {
   color: #000;
   border-color: #000; }

.pagination .page_info {
  background: #333;
  color: white;
  padding: 0.4em 0.6em;
  width: 20em;
  margin-bottom: 0.3em;
  text-align: center; }

.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

* html .pagination {
  height: 1%; }
*:first-child + html .pagination {
  overflow: hidden; }



/* Generic form */

.field {
	display:inline;
} 

.actions {
	display:inline;
}


/* New notice form */

.new_notice_form {
}

.new_notice_header{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 12px;
}
	
.new_notice_doers{
	
}

.new_notice_content{
	
}

.new_notice_comment{
	
}

.new_notice_submit{
	
}


/* feed */

.feed {
	margin-top: 1em;
}

.feed_header{
	font-size:18px;
	font-weight:bold;
	margin-bottom:12px;
}


/* Notices */


.notice_item{
	/* wrapper for complete notice post; includes description, doers, 
		content, date, karma points, comment feed, and new comment form. */
	margin-bottom: 1em;	
}

.notice_description{

}

.notice_doers {

}

.notice_content {
	display:inline;	
	background: #A0A0A0;
}

.notice_posted_by{
	font-size:small;
	display:inline;
}

.notice_date {
	font-size:small;
	display: inline;
}

.notice_show_link {
	font-size:small;
	margin-left:.5em;
}
.notice_karma_points {
	font-size:smaller;
	font-weight:bold;
}

.notice_comments{
	margin-top: .8em;
	margin-left: .8em;
}

/* Comments */

.closed_notice_description_comment {
	background: lightblue;
}

.comment_feed{

}

.comment_item {
	margin-bottom: .8em;
}
.comment_comment {
	display:inline;
}

.comment_date {
	font-style:italic;
	font-size:small;
}

.user_show_item_description {
	font-style:italic;
	display:inline;
}

/* New comment form */

.new_comment_form {

}

.new_comment_form_title{
	vertical-align:top;
	display:inline;
	float:left;
}

.new_comment_form_input{
	display:inline;
}

.new_comment_form_submit{
	display:inline;
	
}

/* New karma grant form */

.new_karma_grant_form{
	font-size:10pt;
}

.new_karma_grant_form_header{
	display:inline;
}

.new_karma_grant_form_point{
	display:inline;
	
}

.new_karma_grant_form_submit{
	display:inline;
}


/* sidebar */

.open_notice_item {
	background-color: gray;
	margin: 2px;
}

.open_notice_past_due_date {
	background-color:red;
}

.open_notice_current_due_date {
	background-color:green;
}

/* User profile display */

.user_id_header{
	
}

.user_gravatar{
}

.user_name{
	font-size:24px;
	vertical-align: middle;
}

table.user_show tr td {
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}


.user_show_item{
	margin-bottom: 1em ;
}


/*  Error messages */

.field_with_errors {
  display: inline;
}

.field_with_errors label {
  color: red;
  font-weight: bold;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
/*  padding-bottom: 12px; */ 
  margin-bottom: 20px;
 /* background-color: #f0f0f0; */
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px; 
  font-size: 14px;
  margin: -7px;
  background-color: #e00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 14px;
}

/* Flash messages */

.error, .alert, .notice, .success, .info {width:170px;padding:0.8em;margin-bottom:1em;text-align:center}
.error, .alert {background:#fbe3e4;color:#8a1f11;}
.notice {background:#fff6bf;color:#514721;}
.success {background:#7ada1d;color:#000;}
.info {background:#d5edf8;color:#205791;}