<div class="notice_item">
	
	<%= render 'shared/notices/notice_description', 
			:notice_item => notice_item %>	
	
	<div class="notice_comments">
		<%= render 'shared/comments/comment_feed', :notice_item => notice_item, :limit => 3 %>
		<%= render 'shared/comments/new_comment_form', :notice_item => notice_item  %>
	</div>
	
</div>

