<div class="comment_item">
	<% commenter = User.find(comment_item.user_id) %>
	comment: <strong><%= link_to commenter.name, user_path(commenter), :class => "user_show_link" %></strong> says:

	<div class="comment_comment">		
		<%= comment_item.comment %>
	</div>
	<div class="comment_date">	
		<%#= comment_item.created_at.localtime.to_formatted_s(:long_ordinal)%>
			<%= time_ago_in_words(comment_item.created_at.localtime)%> ago
	</div>
	
	<% if comment_item.user_id == current_user.id %>
	<%= link_to "delete", comment_item, :method => :delete,
	 								   :confirm => "Are you sure you want to delete this comment?", 
									   :title => "Delete comment",
									   :class => "comment_delete_link" %>
	<% end %>
</div>