<% if object.errors.any? %>
  <div id="error_explanation">
    <h2>Oh no! There
		<% if @user.errors.count==1 %>
			 was one error
		<% else %>
			 were <%= @user.errors.count.en.numwords %> errors
		<% end %>
		with your signup information.</h2>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>