<div class="user_id_header">

	<span class="user_gravatar">
		<%= gravatar_image_tag(@user.email, :gravatar => {:size => 50},
												:style => "vertical-align:middle",
												:class => "gravatar") %>
	
	</span>
	
	<span class="user_name">
		<%= @user.name %>
	</span>


</div>