<h3>About Karma</h3>

<p>Karma is an online social networking tool for small, non-hierarchical groups with little or no organizational structure for managing tasks. </p>

<p>Karma  is based on the belief that, in the absence of strict rules governing member activities, individuals are motivated to engage in co-operative actions by the approval of their peers. To this end, it allows users to post notices of actions taken, and grants other users the ability to express gratitude by granting "karma points" to fellow users for actions completed by those users. </p>

<p>Karma operates in a manner similar to Facebook or Twitter. At the home page, users are presented with a feed of recent notices for actions undertaken by members of the group. Each feed item shows the name of the user who posted the notice, the users (or named non-users) who performed the action, a brief description of the action, a list of comments added by other users to the notice, and a count of the total karma points that have been granted to the performing users (note that the first comment attached to a notice is reserved for the poster to describe the action). The post allow allows users to grant either 1, 2, or 3 karma points to express their gratitude for the action performed.</p>

<p>Karma also allows users to post notices for tasks that they would like someone else to do. These "open tasks" can be browsed by other users, and claimed as completed tasks once they have been completed. </p>

<p>Individual user pages will show a feed of all notices either posted by that user, which mention that user, or which have comments from that user. </p>

<p>In addition to the web interface, Karma also generates a regular email message which briefly recaps the actions taken in the last period and the karma points already granted for that action. It also allows users to add comments or karma points via links in the email. </p>

<p>Keep in mind: </p>

<ul>
<li>Karma points are granted anonymously. </li>
<li>Karma points have no real-world value. They are not redeemable for anything.</li>
<li>Users can nominate other users for tasks that the other users have done. </li>
</ul>