<header>
	
	<div class="header_logo">
				<%= link_to logo, root_path %>
				<h1 class="logo"><%= link_to "Karma", root_path, :class => "logo" %></h1>
	</div>
	
	<div class="header_navbar">
				<%= render 'layouts/navbar' %>
	</div>
	
	<div style="clear:both"></div>

</header>