<header>
	
	<table width="100%">
		<tr>
			<td width="50%">
				<%= link_to logo, root_path %>
				<h1 class="logo"><%= link_to "Karma", root_path, :class => "logo" %></h1>
			</td>
			<td class="nav">
				<%= render 'layouts/navbar' %>
			</td>
		</tr>
	</table>

</header>